<form action="<%= blog_posts_comments_path(blog_post) %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<% if !parent.nil? %>
<input type="hidden" name="comment[parent_id]"  value="<%= parent.id %>">
<% end %>

<div>
<textarea name="comment[content]" rows="4" cols="20"></textarea>
</div>

<input type="submit" value="submit">
</form>